{{!-- Extend the main layout --}}
{{#extend "main"}}
  {{!-- Set the page title --}}
  {{#content "title"}}Page Not Found{{/content}}

  {{!-- Page content --}}
  <h1>404 Error: Page Not Found</h1>
  <p>The page you are looking for cannot be found.</p>
{{/extend}}
